<%= bootstrap_form_for(post, label_errors: true, inline_errors: true) do |f| %>
<% f.alert_message "Please fix the errors below!" %>
  <% if post.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :sport, ["basketball","beach volleyball", "cycling","golf","rugby", "american soccer", "tennis", "track and field", "american football", "boxing", "canoe/kayak", "diving", "equestrian", "fencing","triathlon"], {label: "Choose your favorite sport:"} %>
  </div>

  <div class="field">
    <%= f.text_area :description, {label: "some useful information like age group, place, skill level"} %>
  </div>

  <div class="field">
    <%= f.text_field :address, {label:"address please so our computers can do some searching"}  %>
  </div>


  <div class="field">
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.time_select :time, {ampm: true, minute_step: 15} %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
