<!DOCTYPE html>
<html>
    <head>

        <title>RecMe</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>


        <%= yield %>
        <div class="useralert">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert alert #{key}") do %>
        <p>
            <%= value %>
        </p>
        <% end %>
        <% end %>
      </div>
    </body>
</html>
